---
BasedOnStyle: GNU
IndentWidth: 4
---
Language: Cpp
Standard: Auto
PointerAlignment: Right
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterClass: false
  SplitEmptyFunction: true
  AfterFunction: true
  AfterStruct: false

SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true

WhitespaceSensitiveMacros:
  - REGISTER_CORE_PARTICLE
  - REGISTER_CORE_DECORATION
  - REGISTER_CORE_PLUGIN
  - REGISTER_CORE_MODULE
